<div class="hero-unit">	
	<h1>Welcome to our Travelling Adventure!</h1>
	<p>

	In February 2014 we (Sachi and Menaha) will be setting off on a three month trip around South America - this trip will be the first real, self-organised backpacker trip either of us have ever done, and we can't wait!

	We've included a lot of the information and processes we went through in planning our trip on this website - hopefully it can be of use to some of you in planning your own adventure too. 

	You can see an overview of our trip itinery <%= link_to "here", "#" %>.
	</p>

	<p> 
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large"  %>
	</p>
</div>